{% extends 'blog/home.html' %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block content %}
        <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                {% for article in articles %}
                <div class="post-preview">
                    <a href="{% url 'blog:read_article' article.id %}">
                        <h1 class="post-title">
                            {{ article.title }}
                        </h1>
                        <h3 class="post-subtitle">
                            {{ article.subtitle }}
                        </h3>
                        <p class="post-meta">Posted by <a href="{{article.owner.id}}">{{article.owner}}</a> {{ article.date_created|date:'M d, Y H:i' }}</p>
                        <small><p class="post-meta">{% bootstrap_icon "tag" %}<a href="{% url 'blog:category' article.category_id %}">{{article.category}}</a></p></small>
                        {{ article.text|safe  }}
                    </a>
                </div>
                <hr>
                {% endfor %}

                <!-- Pager -->
                {% if articles.has_next %}
                <ul class="pager">
                    <li class="next">
                        <a href="?page={{ articles.next_page_number }}">Older Posts &rarr;</a>
                    </li>
                </ul>
                {% endif %}
                {% if articles.has_previous %}
                <ul class="pager">
                    <li class="previous">
                       <a href="?page={{ articles.previous_page_number }}"> &larr; Fresh Posts </a>
                    </li>
                </ul>
                {% endif %}
            </div>
        </div>
    </div>

    <hr>
{% endblock content %}