{% load bootstrap3 %}
{% load staticfiles %}
{% load el_pagination_tags %}
{% load social_share %}

{% block content %}
        <!-- Main Content -->
    <!-- Prism -->
    <link rel="stylesheet" type="text/css" href="{% static 'blog/js/tinymce/plugins/codesample/css/prism.css' %}">
    <script src="{% static 'blog/js/tinymce/plugins/codesample/js/prism.js' %}"></script>

                {% paginate articles %}
                {% for article in articles %}
                <div class="post-preview">
                    <a href="{% url 'blog:read_article' article.title %}">
                        <h3 class="post-title">
                            {{ article.title }}
                        </h3>
                        <h3 class="post-subtitle">
                            {{ article.subtitle }}
                        </h3>
                        </a>
                        <p class="post-meta">Posted by {{ article.owner }}
                            {{ article.date_created|date:'M d, Y H:i' }}</p>
                        <p>
                            <div class="post-meta">{% bootstrap_icon "tag" %}<a
                                    href="{% url 'blog:category' article.category %}">{{ article.category }}</a></div>
                        </p>
                        {{ article.text|safe }}
                    </a>
                    <p class="post-meta">{% post_to_twitter "New Article: {{object.title}}. Check it out!" object_or_url "Post to Twitter" %}
                    {% post_to_linkedin object.title object_or_url "Post to LinkedIn" %}</p>

                </div>
                <hr>
                {% endfor %}
                {% show_more %}

{% endblock content %}