{% extends 'blog/base.html' %}
{% load socialaccount %}

{% block header %}
        <header class="intro-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>{LocalCode}</h1>
                        <hr class="small">
                        <span class="subheading">One more things</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock header %}

{% block content %}
<form method="post" action="{% url 'users:registry' %}">
{% csrf_token %}
{{ form.as_p }}
<button name="submit">register</button>
</form>
{% endblock content %}